<marquee class="ui-state-error ui-corner-all">THIS PORTAL IS UNDER DEVELOPMENT for any queries please connect to :  ashish.upadhyaye@gmail.com </marquee>
<span style = "float:right">
<%= link_to 'New Stock', new_stock_path, {:class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"} %></span>
<br />
<br />
<html>
<head>
 <script>

</script>
</head>
<body>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">DataTables</a></li>
		<li><a href="#tabs-2">JQgrid</a></li>
		<li><a href="#tabs-3">High Charts</a></li>
	</ul>
	<div id="tabs-1">
		<%= render :partial => 'datatable' %>
	</div>
	<div id="tabs-2">
		<%= render :partial => 'jqgrid' %>
	</div>
	<div id="tabs-3">
		Highcharts Coming soon
	</div>
</div><!----tabs closed-->
</body>
</html>
